[submodule "wiki"]
	path=wiki
	url = https://github.com/RobinAmsters/GT_mobile_robotics.wiki.git
[submodule "mobile_robotics/MR_solutions"]
	url = git@gitlab.mech.kuleuven.be:u0112384/MR_solutions.git